@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    font-family: "Outfit", sans-serif;
}
#quiz-section{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
}